<!DOCTYPE html>
<html lang="ja" background: lightgray;>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Memo App</title>
</head>
<body>
    <h1>新規作成用</h1>
    <div id="container">
        <form id="contents_form" method="post" action="http://localhost/create">
            <textarea id="contents" name="contents"></textarea>
            <button id="create_button" type="submit">作成</button>
        </form>
    </div>
    <button id="back_to_list_button" onclick="window.location.href='http://localhost/list'">一覧に戻る</button>
</body>
</html>
